.user__container {
  font-family: "SF Mono", sans-serif;
}

.container__title {
  font-weight: 600 !important;
  font-size: 1.4rem !important;
  margin-bottom: 1rem !important;
  color: #296253;
}

.container__header {
  font-weight: 600 !important;
}
