$fontFamilyDefault: "Libre Baskerville", sans-serif;
$colorDefault: #79a206;
$colorHighlight: #296253;
$fontFamilyDefaultt: "Poppins", sans-serif;
$colorContent: #51544f;
$color-White: #fff;
$background: #f8f8f8;

.cookie {
  position: relative;
  & .cookie__container {
    & .cookie__layout {
      position: relative;
      & .cookie__img {
        height: 500px;
        background: url("https://assets.website-files.com/63708df071bc73798fae96ee/6378b145707d74104f13ad8a_image-here%201.jpg")
          top center / cover no-repeat;
      }

      & .cookie__breadcrumb-title {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);

        & h4 {
          font-size: 4rem;
          font-family: $fontFamilyDefault;
          color: $colorHighlight;
          margin-bottom: 14px;
        }

        & span {
          display: flex;
          gap: 1rem;
          font-size: 0.938rem;
          color: #333;
          font-weight: 500;

          & a {
            text-decoration: none;
            color: #474747;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
          }

          & a:hover {
            color: $colorDefault;
          }
        }
      }
    }
  }
}

.cookie__content {
  padding-top: 100px;
  padding-bottom: 80px;

  & .content__description {
    margin: 0 158px;
    padding: 0 15px;

    & .content__readcookie {
      color: #51544f;
      font-size: 0.938rem;
    }

    & .content__question {
      & .content__what {
        font-family: $fontFamilyDefault;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 15px;
      }

      & .content__reply {
        color: #51544f;
        font-size: 0.938rem;
        margin-bottom: 10px;
        line-height: 28px;
      }
    }

    & .content__readcookie {
      margin-bottom: 30px;
    }
  }
}
